# Build directory
build

# IDE files
.vscode
.idea
.cache
cmake-build-*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
*.user
.vs/
*.suo
*.VC.db

# clangd diagnostics
.clangd
clangd-stubs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other VS
[Bb]in/
[Oo]bj/
*.pdb
*.cache
*.exp
*.ilk
*.ipdb
*.iobj

# 大文件
answer/Public/small/*
answer/Public/large/*
answer/Hidden/*
instance/case/Public/*
instance/case/Hidden/*
solution/Public/*
solution/Hidden/*

# 特赦一些小文件
!answer/Public/small/case1_small_q1.txt
!instance/case/Public/case1_small_layout.txt
!solution/Public/case1_small_layout_q1.txt

# 第三方库
trace/third_party/*

# submit文件
submit/*.zip
# 特赦bestSubmit
!submit/bestSubmit.zip

# 结果文件
results/