# Build directory
build

# IDE files
.vscode
.idea
.cache
cmake-build-*
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
*.user
.vs/
*.suo        
*.VC.db      

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other VS
[Bb]in/
[Oo]bj/
*.pdb
*.cache
*.exp
*.ilk
*.ipdb
*.iobj

# 大文件
answer/large/*
answer/small/*
instance/case/*
solution/*

# 特赦一些小文件
!answer/small/case1_small_q1.txt
!instance/case/case1_small_layout.txt
!solution/case1_small_layout_q1.txt

# 特赦第三方库所有目录
!trace/third_party/**

# submit文件
submit/*.zip
# 特赦bestSubmit
!submit/bestSubmit.zip